@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: #ff6347  url('../imagens/fundo-madeira.jpg') top center no-repeat fixed;
    background-size: cover;
}
main {
    height: 100vh;
    position: relative;
    position: relative;
}

section#telefone {
    height: 627px;
    width: 311px;
    background: /*#2e8b57*/  url('../imagens/frame-iphone.png') no-repeat fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela {
    width: 266px;
    height: 470px;
    position: relative;
    top: 81px;
    left: 23px;
    border-radius: 2px;

}
section#redes-sociais ul {
    float: right;
    padding-top: 20px;
    height: 400px;
    width: 70px;
    list-style: none;
    text-align: center;
}

section#redes-sociais ul > li {
    padding: 5px;
}

/* section#redes-sociais {
    text-align: right;
} */

section#redes-sociais img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid #fff; 
}
section#redes-sociais img:hover {
    border: 2px solid #000;
    transform: translate( -3px, -3px);
    transition: transform 0.5s, border 0.6s;
}