@charset "UTF-8";

/* Estilo para impressão - clt+p na webpage para ver o resultado do estilo css */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
    color: tomato;
}

menu {
    display: none;
}

article {
    width: 100vw;
}

article::after {
    content: 'Copyright © - Todos os direitos reservados ® 2023-2023';
}